/**
 * MENU DE RESTAURANT
 * Nom de l'étudiant : [Votre nom]
 * Date : [Date]

   Instructions complètes ici: https://tim-montmorency.com/compendium/582-211-web2/exercices/cours3-menu-resto/index.html
 */

/* ========================================
   RÉINITIALISATION DE BASE
   ======================================== */

main {
    text-align: center ;
    max-width: 800px;
    margin: 0.5;
    margin: auto;
    background-color: rgb(246, 235, 224);
}
 
h1 {
   text-align: left;
    margin: 10px;
    text-decoration:underline;
}
h2 {
    text-align: left;
    margin: 2%;
}
 
.menu-item {
    display: flex;
    align-items: baseline;
}
p {
    text-align: right;
}
 
ul {
 margin-top: 3px;
 text-align: left;
}
 
 
 
body {
     background-position: center;
     background-image: url("/assets/japan.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     margin: 0 auto;
 
}
.atma-bold {
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: normal;
}

/* ========================================
   VOTRE CODE CSS ICI
   ======================================== */
